<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Datavis 2.0</title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/css/main.css">
        <script src="https://js.arcgis.com/4.12/"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <div id="viewDiv"></div>
        <div id="controls">
            <button class='btn_sat'>Satellite</button>
            <button class='btn_topo'>Topography</button>
        </div>
    </body>
</html>
