<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Datavis 2.0</title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://js.arcgis.com/4.12/"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
    </head>
    <body>
        <div id='mapView'>
            <div id="viewDiv"></div>
            <div id="mapcontrols">
                </br>
                <button class='btns' id='btn_sat'>Satellite</button>
                </br>
                <button class='btns' id='btn_topo'>Topography</button>
            </div>
            <div id='navcontrols'>
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 25px;' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToData()' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToGraph()' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>

        <div id='graphView'>
            <div id='graph'>
                graph
            </div>
            <div id='navcontrols'>
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToMap()' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToData()' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 25px;' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>

        <div id='dataView'>
            <div id='data'>
                <div class='data-catagory' id='trips'>
                    
                </div>
            </div>
            <div id='navcontrols'>
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToMap()' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 25px;' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 25px;' 
                    onclick='switchToGraph()' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>
        <script>
            mapReady();
        </script>
    </body>
</html>
