<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Datavis 2.0</title>
        
        <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script src="https://js.arcgis.com/4.12/"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div id='mapView'>
            <div id="viewDiv"></div>
            <div id='navcontrols'>
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 10px;' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToData()' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToGraph()' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>

        <div id='graphView'>
            <div id='graph'>
                <canvas id="line-chart"></canvas>
            </div>
            <div id='navcontrols'>
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToMap()' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToData()' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 10px;' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>

        <div id='dataView'>
            <div id='data'>
                <div class='data-catagory'>
                    <div class='data-header' style='padding-bottom:15px; background-color: #bbb'>
                        <input class="data-radio form-radio" onchange="setReading();" type="radio" name="data-type" id="readings"/>
                        <label for="readings"><strong>Readings from Fieldday</strong></label>

                        <input class="data-radio form-radio" onchange="setStreaming();" type="radio" name="data-type" id="streamings"/>
                        <label for="streamings"><strong>Stream data from Platforms</strong></label>
                    </div>
                </div>
                <div class='data-catagory' id='trips'></div>
                <div class='data-catagory' id='sites'></div>
                <div class='data-catagory' id='sectors'></div>
                <div class='data-catagory' id='spots'></div>
                <div class='data-catagory' id='streaming'></div>
                <div class='data-catagory' id='reading'></div>
                <div id='data-prompt-box'>
                    <strong>
                        <span id='data-prompt'>Pick a trip, site, sector, and spot.</span>
                    </strong>
                </div>
            </div>
            <div id='navcontrols'>
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToMap()' 
                    type="image" 
                    src="img/map-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: gray; padding: 10px; border-radius: 10px;' 
                    type="image" 
                    src="img/data-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
                <input 
                    style='background-color: white; padding: 10px; border-radius: 10px;' 
                    onclick='switchToGraph()' 
                    type="image" 
                    src="img/graph-icon.png" 
                    alt="Submit" 
                    width="32" height="32">
            </div>
        </div>
        <script>
            ready();
        </script>
    </body>
</html>