#graphView{
    padding: 0;
    margin: 0;
    height: 100vh;
    padding-top: 0vh;
    width: 100%;
}
@media only screen and (max-width: 800px) {
    #graphView{
        height: 90vh;
        padding-top: 10vh;
    }
}
#graph{
    width: 100%;
    height: 100%;
}
