html, body, #viewDiv, #mapView, #graphView, #dataView{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#mapcontrols{
    margin-right: 10px;
    margin-bottom: 20px;
    display:block;
    position: absolute;
    z-index: 10;
    top:1;
    left:1;
    right:0;
    bottom:0;
    text-align: center;
}
#navcontrols{
    width: 200px;
    height: 200px;
    margin-left: 12px;
    margin-top: 10px;
    display:block;
    position: absolute;
    z-index: 10;
    top:0;
    left:1;
    right:0;
    bottom:0;
    text-align: center;
}
#navbtn{
    width: 40px;
    height: 40px;
    background: white;
}
.btn-select{
    transition-duration: 200ms;
    text-shadow: black 1px 0 10px;
    color: black;
}
.btn-unselect{
    transition-duration: 200ms;
    color: #333;
}
#togglebtn{
    display:block;
    position: absolute;
    z-index: 10;
    top:0;
    left:1;
    right:0;
    bottom:0;
}
#data{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}
h1{
    font-size: 20px;
}
.data-catagory{
    display: block;
    width: 900px;
    max-width: 90%;
    margin: 50px auto;
}
.data-header{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.elem-div{
    margin-top: 10px;
    width: 40%;
    display: inline-block;
    height: 55px;
    border-radius: 3px;
    padding-left: 30px;
    text-align: left;
    margin: 1%;
}
@media only screen and (max-width: 800px) {
    .elem-div{
        width: 80%;
    }
}
.elem-1{
    background-color: #ddd;
}
.elem-0{
    background-color: #ddd;
}
input[type="radio"]:checked+label{ 
    font-weight: bold; 
    text-decoration: underline;
}
input[type="radio"]:checked{ 
    background-color: #cbf7cb;
}
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 
.esri-coordinate-conversion{
    width: 300px;
}
#data-prompt-box{
    background-color: #888;
    color: white;
    position: fixed;
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
#data-prompt{
    transition-duration: 1s;
}
