html, body, #viewDiv, #mapView, #graphView, #dataView{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#mapcontrols{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    display:block;
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    right:0;
    bottom:1;
    text-align: center;
}
#navcontrols{
    width: 200px;
    height: 200px;
    margin-left: 12px;
    display:block;
    position: absolute;
    z-index: 10;
    top:0;
    left:1;
    right:0;
    bottom:0;
    text-align: center;
}
.btn-select{
    transition-duration: 200ms;
    text-shadow: black 1px 0 10px;
    color: black;
}
.btn-unselect{
    transition-duration: 200ms;
    color: #333;
}
#togglebtn{
    display:block;
    position: absolute;
    z-index: 10;
    top:0;
    left:1;
    right:0;
    bottom:0;
}
